body {
  background-color: #ffffff;
  margin-bottom:2vw;
  font-family: 'Open Sans', sans-serif;
  font-size:1em;
}

#container {
  margin-top: 2em;
  margin-bottom: 2em;
}

#map-container {
  height:87vh;
  border-bottom: 2px solid #CCC;
}

#content-container {
  margin:1.5rem;
}

#overall-container {
  margin: 0;
  padding: 0;
  height: 20rem;
}

#debugPane {
  visibility: hidden;
  background-color: #fff;
  padding: 1rem;
  position: absolute;
  bottom: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 30%;
}

#mobile-scroll-down {
  background-color: #FFF;
  width: 13vw;
  height: 8vh;
  border-top: 1px solid #CCC;
  box-shadow: 0px 0px 3px 1px #CCC;
  position: fixed;
  bottom: 5vw;
  right: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8vw;
  visibility: hidden;
}

.mobile-scroll-text {
  font-size: 1.4em;
  margin-top: 1.3vh;
  margin-left: 3vw;
  margin-bottom: 1vh;
}

#debugClose {
  position: relative;
  left: 80%;
  bottom: .5rem;
}

.debug-visible {
  visibility: visible !important;
}

.chevron {
  width: 1.4em;
  color: #000;
}

.hidden {
  visibility: hidden;
}

@media screen and (max-width: 430px) {
  p {
    font-size: 1.1rem;
  }

  h1 {
    margin-bottom: 1.5rem;
  }

  #map-container {
    height: 100vh;
  }

  #overall-container {
    height: 97vh;
  }

  #mobile-scroll-down {
    visibility: visible;
  }
}